{% extends "base.html" %} {% block title %}
Login {% endblock %} {% block main %}
<main style="margin-top: 48px" class="logged-in-main">
  <div class="container pt-4">
    <div class="card px-3 py-3 mb-4">
        <div class="row">
          <div class="title col-12 align-self-center text-center">
            <h2 class="my-auto">Edit User</h2>
          </div>
        </div>
      </div>
    {% block content %}
    <form method="POST">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
          {% if form.email%}
          value="{{form.email}}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
          {% if form.first_name %}
          value="{{form.first_name}}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Enter last name"
          {% if form.last_name %}
          value="{{form.last_name}}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="type">Role</label>
        <select
          name="role"
          class="form-select"
          aria-label="Default select example"
        >
          {% if form.role == "Select Role"%}
          <option value="Select Role" selected>Select Role</option>
          {% else %}
          <option value="Select Role">Select Role</option>
          {% endif %} {% if form.role == "Back End Developer"%}
          <option value="Back End Developer" selected>
            Back End Developer
          </option>
          {% else %}
          <option value="Back End Developer">Back End Developer</option>
          {% endif %} {% if form.role == "DevOps"%}
          <option value="DevOps" selected>DevOps</option>
          {% else %}
          <option value="DevOps">DevOps</option>
          {% endif %} {% if form.role == "Front End Developer"%}
          <option value="Front End Developer" selected>
            Front End Developer
          </option>
          {% else %}
          <option value="Front End Developer">Front End Developer</option>
          {% endif %} {% if form.role == "Full Stack Developer"%}
          <option value="Full Stack Developer" selected>
            Full Stack Developer
          </option>
          {% else %}
          <option value="Full Stack Developer">Full Stack Developer</option>
          {% endif %}
        </select>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="text"
          class="form-control"
          id="password"
          name="password"
          placeholder="Opional: Enter new password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}
  </div>
</main>
{% endblock%}
