<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
    ></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block navbar %}
    <header>
      <!-- Sidebar -->
      <nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
      >
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a
              href="/"
              class="list-group-item list-group-item-action py-2 ripple active"
              aria-current="true"
              id="dashboard"
            >
              <i class="fas fa-tachometer-alt fa-fw me-3"></i
              ><span>Main dashboard</span>
            </a>
            {% if user.role != "admin" %}
            <a
              href="/projects/page/1"
              class="list-group-item list-group-item-action py-2 ripple"
              id="projects"
            >
              <i class="fas fa-tasks fw me-3"></i><span>My Projects</span>
            </a>
            {% endif %}
            {% if user.role != "admin" %}
            <a
              href="/tickets/page/1"
              class="list-group-item list-group-item-action py-2 ripple"
              id="tickets"
              ><i class="fas fa-ticket-alt fw me-3"></i
              ><span>My Tickets</span></a
            >
            {% endif %}
            {% if user.role != "admin" %}
            <a
              href="/projects/archived/page/1"
              class="list-group-item list-group-item-action py-2 ripple"
              id="archived-projects"
            >
            <i class="fas fa-archive me-3"></i><span>Archived Projects</span>
            </a>
            {% endif %}
            {% if user.role != "admin" %}
            <a
              href="/tickets/archived/page/1"
              class="list-group-item list-group-item-action py-2 ripple"
              id="archived-tickets"
            >
            <i class="fas fa-archive me-3"></i><span>Archived Tickets</span>
            </a>
            {% endif %}
            {% if user.role == "admin" %}
            <a
              href="/admin/personnel/page/1"
              class="list-group-item list-group-item-action py-2 ripple"
              id="admin-personnel"
              ><i class="fas fa-users fa-fw me-3"></i><span>Personnel</span></a
            >
            <a
              href="/admin/projects/page/1"
              class="list-group-item list-group-item-action py-2 ripple"
              id="admin-projects"
              ><i class="fas fa-book-reader me-3"></i><span>All Projects</span></a
            >
            {% endif %}
          </div>
        </div>
      </nav>

      <!-- Navbar -->
      <nav
        id="main-navbar"
        class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
      >
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <!-- Brand -->
          <a class="navbar-brand ms-3 nav-main-logo" href="#"><i class="fas fa-bug"></i> BUG TRACKER </a>

          <!-- Right links -->
          <ul class="navbar-nav ms-auto d-flex flex-row">
            <!-- Avatar -->
            <li class="nav-item dropdown d-flex">
              {% if user.is_authenticated %}
              <h3 class="mt-auto me-2">{{user.first_name}}</h3>
              {% endif %}
              <a
                class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i
                  class="fas fa-user fa-2x"
                  style="color: rgb(44, 42, 42)"
                  class="rounded-circle"
                ></i>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end position-absolute"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    </header>
    {% endblock %} {% if user.is_authenticated %}
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div
      class="alert alert-danger alert-dismissible fade show logged-in-main alert-modify-postion"
      style="
        margin-top: 70px;
        margin-left: 250px;
        padding: 1rem;
        margin-right: 10px;
      "
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% else %}
    <div
      class="alert alert-success alert-dismissible fade show logged-in-main alert-modify-postion"
      style="
        margin-top: 70px;
        margin-left: 250px;
        padding: 1rem;
        margin-right: 10px;
      "
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% else %}
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% endif %}

    <!-- Main -->
    {% block main %} {% block content %} {% endblock %} {% endblock %}

    <!--Scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>

    {% block nav_js%} {% endblock %}
  </body>
</html>
