{% extends "base.html" %} {% block title %} Projects {% endblock %} {% block
main %}
<main style="margin-top: 58px" class="logged-in-main">
  {% block content %}
  <div class="container-fluid pt-4">
    <div class="d-flex justify-content-between">
      <div class="title">
        <h1>Projects</h1>
      </div>
      <div class="add-project-btn my-auto">
        <a href="/projects/new" class="btn btn-primary">Create Project</a>
      </div>
    </div>
    {% if user.projects %}
    <div class="table-wrapper card px-2 py-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-3">Project Name</th>
            <th scope="col" class="col-7">Description</th>
            <th scope="col" class="col-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for project in user.projects %}
          <tr>
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>
              <a href="/projects/{{project.id}}/details/1">Details</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>No projects have been added</p>
    {% endif %}
  </div>
  {% endblock %}
</main>
{% block nav_js%}
<script>
  document.getElementsByClassName("active")[0].classList.remove("active");
  document.getElementById("projects").classList.add("active");
</script>
{% endblock %} {% endblock%}
