{% extends "base.html" %} 
{% block title %} Project Details {% endblock %} 

{% block main %}
    <main style="margin-top: 58px" class="logged-in-main">
      <div class="container pt-2">
        {% block content %}
        <div class="container">
            <div class="title">
                {% for project in projects %}
                    <h1>{{project.name}}</h1>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Members</h5>
                      <div class="table-wrapper">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for member in members %}
                            <tr>
                                    <td>{{member.first_name}} {{member.last_name}}</td>
                                    <td>{{member.email}}</td>
                                </tr>
                                {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Tickets</h5>
                      <div class="table-wrapper">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Submitter</th>
                              <th scope="col">Status</th>
                              <th scope="col">Created</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Ticket Placholder Name</td>
                              <td>Placeholder Author</td>
                              <td>Status Placeholder</td>
                              <td>Created On</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        {% endblock %}
      </div>
    </main>
{% endblock%}
    