{% extends "base.html" %} {% block title %} Ticket Details {% endblock %} {%
block main %}
<main style="margin-top: 48px" class="logged-in-main">
  {% block content %}
  <div class="container-fluid pt-4">
    <div class="card px-3 py-3 mb-2">
      <div class="row">  
        <div class="col-12 title d-flex gap-4 align-self-center">
          <h2 class="my-auto">Ticket Details</h2>
          <a class="align-self-center" href="/tickets/edit/{{ticket.id}}"
          ><i class="fas fa-edit fa-lg">Edit</i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ticket-wrapper col-6">
        <div class="card">
          <div class="container-fluid">
            <div class="row .bg-white px-2">
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">Title</div>
                <div class="column-content">{{ticket.name}}</div>
              </div>
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">Created On</div>
                <div class="column-content">{{ticket.date}}</div>
              </div>
              <span class="border-bottom"></span>
              <div class="w-100"></div>
              <!-- Next line -->
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">
                  Assigned Developer
                </div>
                <div class="column-content">
                  {{ticket.ticket_dev.first_name}}
                  {{ticket.ticket_dev.last_name}}
                </div>
              </div>
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">Submitted By</div>
                <div class="column-content">{{ticket.submitted_by}}</div>
              </div>
              <span class="border-bottom"></span>
              <div class="w-100"></div>
              <!-- Next line -->
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">Project</div>
                <div class="column-content">{{ticket.ticket_project.name}}</div>
              </div>
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">Status</div>
                <div class="column-content">{{ticket.status}}</div>
              </div>
              <span class="border-bottom"></span>
              <div class="w-100"></div>
              <!-- Next line -->
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">Priority</div>
                <div class="column-content">{{ticket.priority}}</div>
              </div>
              <div class="col-6 py-2">
                <div class="column-header mb-1 column-title">Type</div>
                <div class="column-content">{{ticket.type}}</div>
              </div>
              <span class="border-bottom"></span>
              <div class="w-100"></div>
              <!-- Next line -->
              <div class="col-12 py-2">
                <div class="column-header mb-1 column-title">Description</div>
                <div class="column-content">{{ticket.description}}</div>
              </div>
              <span class="border-bottom"></span>
              <div class="w-100"></div>
              <!-- Next line -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-wrapper col-12 my-4">
      <div class="card">
        <div class="comment-section-title py-2 px-2">
          <h5 class="card-title">Comments</h5>
        </div>
        {% for comment in comments %}
        <div class="card mx-2 py-2 px-2 mb-2">
          <div class="comment-details d-flex gap-2 mb-2">
            <div class="comment-author">
              {{comment.user_comments.first_name}}
              {{comment.user_comments.last_name}}
            </div>
            <div class="comment-date">{{comment.date}}</div>
          </div>
          <div class="comment">{{comment.comment}}</div>
        </div>
        {% endfor %}
        <div class="row">
          <form method="POST">
            <div class="d-flex gap-3 py-2 px-2">
              <textarea
                name="comment"
                id="comment"
                class="form-control"
                rows="2"
              ></textarea>
              <div class="comment-btn my-auto">
                <button type="submit" class="btn btn-primary">Comment</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</main>
{% block nav_js%}
<script>
    {% if ticket.status != 'Resolved' %}
      document.getElementsByClassName("active")[0].classList.remove("active");
      document.getElementById("tickets").classList.add("active");
    {% else %}
      document.getElementsByClassName("active")[0].classList.remove("active");
      document.getElementById("archived-tickets").classList.add("active");
    {% endif %}
</script>
{% endblock %}
{% endblock%}
