body {
  background-color: #e7e9eb;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
@media (min-width: 991.98px) {
  .logged-in-main {
    padding-left: 240px;
  }
}

h2 {
  font-size: 2rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Ticket Card  */
.column-title,
.comment-author {
  font-weight: bold;
}

/* My Ticket priority */
.ticket-priority-low {
  background-color: rgb(255, 255, 102) !important;
  font-weight: 700;
  text-align: center;
}

.ticket-priority-medium {
  background-color: rgb(255, 153, 51) !important;
  font-weight: 700;
  text-align: center;
}

.ticket-priority-high {
  background-color: rgb(255, 0, 0) !important;
  font-weight: 700;
  text-align: center;
}

/* My Ticket page */
.align-row-center {
  text-align: center !important;
}

/* Dashboard */
.dashboard-chart {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
